.admin_page {
    display: flex;
    flex-direction: row;
    width: inherit;
}

.admin_pageConfInfo{
    display: flex;
    flex-direction: column;
    flex: 0.8;
    padding: 20px;
}

.admin_pageSpeaker{
    display: flex;
    padding: 20px;
    border: lightgray 2px solid;
}

.admin_pageActiveUsers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    flex: 0.2;
    border-left: lightgray 2px solid;
}
