.login_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
}

.login_form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.login_form > input {
    padding: 10px;
    margin: 5px;
    max-height: 30px;
    max-width: 250px;
    flex-shrink: inherit;
}